.Free {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color: rgb(8, 243, 207);
}

#github {
    background-color: rgb(89, 241, 89);
}

#portfolio {
    background-color: rgb(138, 133, 229);
}